.elementor-130 .elementor-element.elementor-element-2cb463e {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --overlay-opacity: 0.22;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-130 .elementor-element.elementor-element-2cb463e:not(.elementor-motion-effects-element-type-background),
.elementor-130 .elementor-element.elementor-element-2cb463e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #1B1A1A;
}

.elementor-130 .elementor-element.elementor-element-2cb463e::before,
.elementor-130 .elementor-element.elementor-element-2cb463e>.elementor-background-video-container::before,
.elementor-130 .elementor-element.elementor-element-2cb463e>.e-con-inner>.elementor-background-video-container::before,
.elementor-130 .elementor-element.elementor-element-2cb463e>.elementor-background-slideshow::before,
.elementor-130 .elementor-element.elementor-element-2cb463e>.e-con-inner>.elementor-background-slideshow::before,
.elementor-130 .elementor-element.elementor-element-2cb463e>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    background-image: url("../assets/images/day_img/pexels-hormel-media-1095814.jpg");
    --background-overlay: '';
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-130 .elementor-element.elementor-element-eeb1a53 {
    --display: flex;
    --overlay-opacity: 1;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 30px;
    --padding-right: 30px;
}

.elementor-130 .elementor-element.elementor-element-eeb1a53:not(.elementor-motion-effects-element-type-background),
.elementor-130 .elementor-element.elementor-element-eeb1a53>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #00000075;
}

.elementor-130 .elementor-element.elementor-element-eeb1a53::before,
.elementor-130 .elementor-element.elementor-element-eeb1a53>.elementor-background-video-container::before,
.elementor-130 .elementor-element.elementor-element-eeb1a53>.e-con-inner>.elementor-background-video-container::before,
.elementor-130 .elementor-element.elementor-element-eeb1a53>.elementor-background-slideshow::before,
.elementor-130 .elementor-element.elementor-element-eeb1a53>.e-con-inner>.elementor-background-slideshow::before,
.elementor-130 .elementor-element.elementor-element-eeb1a53>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    background-color: transparent;
    --background-overlay: '';
    background-image: linear-gradient(180deg, #00000000 0%, #141313 100%);
}

.elementor-130 .elementor-element.elementor-element-266e572 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: flex-end;
    --gap: 50px 50px;
    --row-gap: 50px;
    --column-gap: 50px;
    --padding-top: 110px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-widget-site-logo .hfe-site-logo-container .hfe-site-logo-img {
    border-color: var( --e-global-color-primary);
}

.elementor-widget-site-logo .widget-image-caption {
    color: var( --e-global-color-text);
}

.elementor-130 .elementor-element.elementor-element-e5196c1 .hfe-site-logo-container,
.elementor-130 .elementor-element.elementor-element-e5196c1 .hfe-caption-width figcaption {
    text-align: center;
}

.elementor-130 .elementor-element.elementor-element-e5196c1 .hfe-site-logo .hfe-site-logo-container img {
    width: 1000px;
}

.elementor-130 .elementor-element.elementor-element-e5196c1 .hfe-site-logo img {
    max-width: 100%;
}

.elementor-130 .elementor-element.elementor-element-e5196c1 .widget-image-caption {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-130 .elementor-element.elementor-element-e5196c1 .hfe-site-logo-container .hfe-site-logo-img {
    border-style: none;
}

.elementor-widget-text-editor {
    color: var( --e-global-color-text);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-130 .elementor-element.elementor-element-54e86dc {
    width: var( --container-widget-width, 300px);
    max-width: 300px;
    margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 75px) 0px;
    --container-widget-width: 300px;
    --container-widget-flex-grow: 0;
    color: var( --e-global-color-background);
}

.elementor-130 .elementor-element.elementor-element-54e86dc p {
    margin-block-end: 0px;
}

.elementor-widget-divider {
    --divider-color: var( --e-global-color-secondary);
}

.elementor-widget-divider .elementor-divider__text {
    color: var( --e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon {
    color: var( --e-global-color-secondary);
    border-color: var( --e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon svg {
    fill: var( --e-global-color-secondary);
}

.elementor-130 .elementor-element.elementor-element-b474094 {
    --divider-border-style: solid;
    --divider-color: #FFFFFF1A;
    --divider-border-width: 1px;
}

.elementor-130 .elementor-element.elementor-element-b474094 .elementor-divider-separator {
    width: 100%;
}

.elementor-130 .elementor-element.elementor-element-b474094 .elementor-divider {
    padding-block-start: 90px;
    padding-block-end: 90px;
}

.elementor-130 .elementor-element.elementor-element-71cd7a2 {
    --display: grid;
    --e-con-grid-template-columns: repeat(3, 1fr);
    --e-con-grid-template-rows: repeat(1, 1fr);
    --gap: 30px 30px;
    --row-gap: 30px;
    --column-gap: 30px;
    --grid-auto-flow: row;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-130 .elementor-element.elementor-element-140dff4 {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 40px;
}

.elementor-widget-heading .elementor-heading-title {
    color: var( --e-global-color-primary);
}

.elementor-130 .elementor-element.elementor-element-76ece61 {
    margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 30px) 0px;
}

.elementor-130 .elementor-element.elementor-element-76ece61 .elementor-heading-title {
    text-transform: capitalize;
    color: var( --e-global-color-background);
}

.elementor-130 .elementor-element.elementor-element-b186027 .mc4wp-form-fields input[type="email"] {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var( --e-global-color-background);
    background-color: #FFFFFF00;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #FFFFFF3D;
    border-radius: 0px 0px 0px 0px;
    margin: 0px 0px 30px 0px;
    padding: 18px 0px 18px 0px;
}

.elementor-130 .elementor-element.elementor-element-b186027 .mc4wp-form-fields input[type="email"]::placeholder {
    color: var( --e-global-color-text_light);
}

.elementor-130 .elementor-element.elementor-element-b186027 .mc4wp-form-fields::before {
    color: var( --e-global-color-text_light);
}

.elementor-130 .elementor-element.elementor-element-dda2bef {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --flex-wrap: wrap;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 40px;
    --padding-right: 0px;
}

.elementor-130 .elementor-element.elementor-element-5cd1d34 {
    width: 100%;
    max-width: 100%;
    margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 30px) 0px;
}

.elementor-130 .elementor-element.elementor-element-5cd1d34 .elementor-heading-title {
    text-transform: capitalize;
    color: var( --e-global-color-background);
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: var( --e-global-color-text);
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-widget-icon-list .elementor-icon-list-text {
    color: var( --e-global-color-secondary);
}

.elementor-130 .elementor-element.elementor-element-ad26ba5 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-block-end: calc(10px/2);
}

.elementor-130 .elementor-element.elementor-element-ad26ba5 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-block-start: calc(10px/2);
}

.elementor-130 .elementor-element.elementor-element-ad26ba5 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-inline: calc(10px/2);
}

.elementor-130 .elementor-element.elementor-element-ad26ba5 .elementor-icon-list-items.elementor-inline-items {
    margin-inline: calc(-10px/2);
}

.elementor-130 .elementor-element.elementor-element-ad26ba5 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    inset-inline-end: calc(-10px/2);
}

.elementor-130 .elementor-element.elementor-element-ad26ba5 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-130 .elementor-element.elementor-element-ad26ba5 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-130 .elementor-element.elementor-element-ad26ba5 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-130 .elementor-element.elementor-element-ad26ba5 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-130 .elementor-element.elementor-element-ad26ba5 .elementor-icon-list-item>a {
    font-size: 18px;
}

.elementor-130 .elementor-element.elementor-element-ad26ba5 .elementor-icon-list-text {
    color: var( --e-global-color-background);
    transition: color 0.3s;
}

.elementor-130 .elementor-element.elementor-element-ad26ba5 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-primary);
}

.elementor-130 .elementor-element.elementor-element-b0d8851 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-block-end: calc(10px/2);
}

.elementor-130 .elementor-element.elementor-element-b0d8851 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-block-start: calc(10px/2);
}

.elementor-130 .elementor-element.elementor-element-b0d8851 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-inline: calc(10px/2);
}

.elementor-130 .elementor-element.elementor-element-b0d8851 .elementor-icon-list-items.elementor-inline-items {
    margin-inline: calc(-10px/2);
}

.elementor-130 .elementor-element.elementor-element-b0d8851 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    inset-inline-end: calc(-10px/2);
}

.elementor-130 .elementor-element.elementor-element-b0d8851 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-130 .elementor-element.elementor-element-b0d8851 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-130 .elementor-element.elementor-element-b0d8851 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-130 .elementor-element.elementor-element-b0d8851 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-130 .elementor-element.elementor-element-b0d8851 .elementor-icon-list-item>a {
    font-size: 18px;
}

.elementor-130 .elementor-element.elementor-element-b0d8851 .elementor-icon-list-text {
    color: var( --e-global-color-background);
    transition: color 0.3s;
}

.elementor-130 .elementor-element.elementor-element-b0d8851 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var( --e-global-color-primary);
}

.elementor-130 .elementor-element.elementor-element-fe13b3b {
    --display: flex;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 120px;
    --padding-right: 0px;
}

.elementor-130 .elementor-element.elementor-element-b10e555 {
    margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 20px) 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: var( --e-global-color-primary);
    text-align: left;
}

.elementor-130 .elementor-element.elementor-element-b10e555.elementor-element {
    --align-self: flex-start;
}

.elementor-130 .elementor-element.elementor-element-48d9ff8 {
    margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 30px) 0px;
}

.elementor-130 .elementor-element.elementor-element-48d9ff8 .elementor-heading-title {
    text-transform: none;
    color: var( --e-global-color-background);
}

.elementor-130 .elementor-element.elementor-element-fe5d22b .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-130 .elementor-element.elementor-element-fe5d22b .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-130 .elementor-element.elementor-element-fe5d22b {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-align: flex-start;
    --icon-vertical-offset: 8px;
}

.elementor-130 .elementor-element.elementor-element-fe5d22b .elementor-icon-list-icon {
    padding-inline-end: 5px;
}

.elementor-130 .elementor-element.elementor-element-fe5d22b .elementor-icon-list-text {
    color: var( --e-global-color-background);
    transition: color 0.3s;
}

.elementor-130 .elementor-element.elementor-element-db593c1 {
    margin: 90px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
    padding: 40px 0px 40px 0px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #FFFFFF1A;
    text-align: center;
    color: var( --e-global-color-background);
}

.elementor-130 .elementor-element.elementor-element-db593c1 p {
    margin-block-end: 0px;
}

.breadcrumb-wrap .breadcrumb-overlay,
.elementor-page-134 .breadcrumb-wrap .breadcrumb-overlay {
    opacity: 0.5;
}

@media(max-width:1366px) {
    .elementor-130 .elementor-element.elementor-element-71cd7a2 {
        --grid-auto-flow: row;
    }
    .elementor-130 .elementor-element.elementor-element-dda2bef {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-130 .elementor-element.elementor-element-fe13b3b {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 40px;
        --padding-right: 0px;
    }
}

@media(max-width:1200px) {
    .elementor-130 .elementor-element.elementor-element-e5196c1 .hfe-site-logo .hfe-site-logo-container img {
        width: 800px;
    }
    .elementor-130 .elementor-element.elementor-element-54e86dc {
        margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 40px) 0px;
    }
    .elementor-130 .elementor-element.elementor-element-71cd7a2 {
        --grid-auto-flow: row;
    }
    .elementor-130 .elementor-element.elementor-element-140dff4 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-130 .elementor-element.elementor-element-dda2bef {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-130 .elementor-element.elementor-element-fe13b3b {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
}

@media(max-width:1024px) {
    .elementor-130 .elementor-element.elementor-element-266e572 {
        --padding-top: 80px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-130 .elementor-element.elementor-element-54e86dc {
        width: initial;
        max-width: initial;
        margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
    }
    .elementor-130 .elementor-element.elementor-element-b474094 .elementor-divider {
        padding-block-start: 80px;
        padding-block-end: 80px;
    }
    .elementor-130 .elementor-element.elementor-element-71cd7a2 {
        --grid-auto-flow: row;
    }
    .elementor-130 .elementor-element.elementor-element-db593c1 {
        margin: 80px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
    }
}

@media(max-width:880px) {
    .elementor-130 .elementor-element.elementor-element-b474094 .elementor-divider {
        padding-block-start: 60px;
        padding-block-end: 60px;
    }
    .elementor-130 .elementor-element.elementor-element-71cd7a2 {
        --e-con-grid-template-columns: repeat(2, 1fr);
        --grid-auto-flow: row;
    }
}

@media(max-width:767px) {
    .elementor-130 .elementor-element.elementor-element-eeb1a53 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 15px;
        --padding-right: 15px;
    }
    .elementor-130 .elementor-element.elementor-element-266e572 {
        --gap: 30px 30px;
        --row-gap: 30px;
        --column-gap: 30px;
        --padding-top: 60px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-130 .elementor-element.elementor-element-e5196c1 .hfe-site-logo .hfe-site-logo-container img {
        width: 100vw;
    }
    .elementor-130 .elementor-element.elementor-element-71cd7a2 {
        --e-con-grid-template-columns: repeat(1, 1fr);
        --grid-auto-flow: row;
    }
    .elementor-130 .elementor-element.elementor-element-76ece61 {
        margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 30px) 0px;
    }
    .elementor-130 .elementor-element.elementor-element-db593c1 {
        margin: 60px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
        padding: 30px 0px 30px 0px;
    }
}