.elementor-984 .elementor-element.elementor-element-74cd0df {
    --display: flex;
    --min-height: 100vh;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 30px;
    --padding-bottom: 50px;
    --padding-left: 70px;
    --padding-right: 30px;
}

.elementor-984 .elementor-element.elementor-element-74cd0df:not(.elementor-motion-effects-element-type-background),
.elementor-984 .elementor-element.elementor-element-74cd0df>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #161718;
}

.elementor-widget-site-logo .hfe-site-logo-container .hfe-site-logo-img {
    border-color: var( --e-global-color-primary);
}

.elementor-widget-site-logo .widget-image-caption {
    color: var( --e-global-color-text);
}

.elementor-984 .elementor-element.elementor-element-8319b0a .hfe-site-logo-container,
.elementor-984 .elementor-element.elementor-element-8319b0a .hfe-caption-width figcaption {
    text-align: center;
}

.elementor-984 .elementor-element.elementor-element-8319b0a .widget-image-caption {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-984 .elementor-element.elementor-element-8319b0a>.elementor-widget-container {
    margin: 0px 0px 50px 0px;
}

.elementor-984 .elementor-element.elementor-element-8319b0a.elementor-element {
    --align-self: flex-start;
}

.elementor-984 .elementor-element.elementor-element-8319b0a .hfe-site-logo-container .hfe-site-logo-img {
    border-style: none;
}

.elementor-widget-heading .elementor-heading-title {
    color: var( --e-global-color-primary);
}

.elementor-984 .elementor-element.elementor-element-d73da71 {
    margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 45px) 0px;
}

.elementor-984 .elementor-element.elementor-element-d73da71 .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-984 .elementor-element.elementor-element-327708a {
    margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 40px) 0px;
}

.elementor-984 .elementor-element.elementor-element-327708a .gallery-item {
    padding: 0 10px 10px 0;
}

.elementor-984 .elementor-element.elementor-element-327708a .gallery {
    margin: 0 -10px -10px 0;
}

.elementor-984 .elementor-element.elementor-element-327708a .gallery-item img {
    border-radius: 24px 24px 24px 24px;
}

.elementor-984 .elementor-element.elementor-element-327708a .gallery-item .gallery-caption {
    text-align: center;
}

.elementor-widget-text-editor {
    color: var( --e-global-color-text);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-984 .elementor-element.elementor-element-b1c8681 {
    margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 30px) 0px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4em;
    color: #FFFFFF;
}

.elementor-984 .elementor-element.elementor-element-b1c8681 p {
    margin-block-end: 0px;
}

.elementor-984 .elementor-element.elementor-element-7d5a960 {
    margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 15px) 0px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: var( --e-global-color-primary);
}

.elementor-984 .elementor-element.elementor-element-7d5a960.elementor-element {
    --align-self: flex-start;
}

.elementor-984 .elementor-element.elementor-element-29a53d7 {
    margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 40px) 0px;
}

.elementor-984 .elementor-element.elementor-element-29a53d7 .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-984 .elementor-element.elementor-element-29a53d7 .elementor-heading-title a:hover,
.elementor-984 .elementor-element.elementor-element-29a53d7 .elementor-heading-title a:focus {
    color: var( --e-global-color-primary);
}

.elementor-984 .elementor-element.elementor-element-05bd58a {
    --grid-template-columns: repeat(0, auto);
    text-align: left;
    --icon-size: 16px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-984 .elementor-element.elementor-element-05bd58a.elementor-element {
    --align-self: flex-start;
}

.elementor-984 .elementor-element.elementor-element-05bd58a .elementor-social-icon {
    background-color: #02010100;
}

.elementor-984 .elementor-element.elementor-element-05bd58a .elementor-social-icon i {
    color: #FFFFFF;
}

.elementor-984 .elementor-element.elementor-element-05bd58a .elementor-social-icon svg {
    fill: #FFFFFF;
}

.elementor-984 .elementor-element.elementor-element-05bd58a .elementor-social-icon:hover i {
    color: var( --e-global-color-primary);
}

.elementor-984 .elementor-element.elementor-element-05bd58a .elementor-social-icon:hover svg {
    fill: var( --e-global-color-primary);
}

.breadcrumb-wrap .breadcrumb-overlay,
.elementor-page-134 .breadcrumb-wrap .breadcrumb-overlay {
    opacity: 0.5;
}

@media(max-width:767px) {
    .elementor-984 .elementor-element.elementor-element-74cd0df {
        --padding-top: 30px;
        --padding-bottom: 30px;
        --padding-left: 15px;
        --padding-right: 15px;
    }
}

@media(min-width:768px) {
    .elementor-984 .elementor-element.elementor-element-74cd0df {
        --width: 550px;
    }
}

/* Start custom CSS for social-icons, class: .elementor-element-05bd58a */

.elementor-984 .elementor-element.elementor-element-05bd58a .elementor-social-icons-wrapper {
    display: flex;
}

/* End custom CSS */