.elementor-kit-4 {
    --e-global-color-primary: #FEAF06;
    --e-global-color-primary_hover: #E49D05;
    --e-global-color-secondary: #E14A4F;
    --e-global-color-secondary_hover: #CA4247;
    --e-global-color-text: #5C5D5E;
    --e-global-color-text_light: #9FA2A4;
    --e-global-color-accent: #282725;
    --e-global-color-highligh: #FEAF06;
    --e-global-color-border: #E7E9EB;
    --e-global-color-background: #FFFFFF;
    --e-global-color-background_light: #F9F9F9;
    --e-global-typography-heading_title-font-family: "Cal Sans";
    --e-global-typography-heading_title-font-size: 64px;
    --e-global-typography-heading_title-font-weight: 400;
    --e-global-typography-heading_title-text-transform: capitalize;
    --e-global-typography-heading_title-line-height: 1.0625em;
    --e-global-typography-heading_title-letter-spacing: 0px;
    --e-global-typography-38547f3-font-family: "Cal Sans";
    --e-global-typography-38547f3-font-size: 13px;
    --e-global-typography-38547f3-text-transform: uppercase;
    --e-global-typography-38547f3-line-height: 1.17em;
    --e-global-typography-38547f3-letter-spacing: 1px;
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1410px;
}

.e-con {
    --container-max-width: 1410px;
}

.elementor-widget:not(:last-child) {
    --kit-widget-spacing: 0px;
}

.elementor-element {
    --widgets-spacing: 0px 0px;
    --widgets-spacing-row: 0px;
    --widgets-spacing-column: 0px;
}


h1.entry-title {
    display: var(--page-title-display);
}

@media(max-width:1200px) {
    .elementor-kit-4 {
        --e-global-typography-heading_title-font-size: 52px;
    }
}

@media(max-width:1024px) {
    .elementor-kit-4 {
        --e-global-typography-heading_title-font-size: 48px;
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }
    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-kit-4 {
        --e-global-typography-heading_title-font-size: 42px;
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }
    .e-con {
        --container-max-width: 767px;
    }
}